# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtb3FiZHZodXJjeWJpY3BqcGRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTM1NzUwNTgsImV4cCI6MTk2OTE1MTA1OH0.Z4FnvRVMd4N2_N6Ne0ocZ5UuwEoIfut5KONtS_xT9ig
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtb3FiZHZodXJjeWJpY3BqcGRjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY1MzU3NTA1OCwiZXhwIjoxOTY5MTUxMDU4fQ.iNNiMFU5k0ctwK9q1Q3YGT74p4RQEQVCnFWFmG36MA4

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_1234
STRIPE_SECRET_KEY=sk_test_1234
STRIPE_WEBHOOK_SECRET=whsec_1234